node_modules/
yarn-error.log

.vscode/
config/config.json
migrations/
models/
seeders/

src/
scripts/
lib/__tests__

.editorconfig
.eslintrc
.gitignore
.prettierignore
docker-compose.yml
LICENSE
tsconfig.json
tslint.json
